<!doctype html>
<html lang="en">

  <head>
    <title>Terraling</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,700&family=Quicksand&display=swap" rel="stylesheet">

    <link href="/static/styles.css" rel="stylesheet" />
  </head>

  <body>
    {{template "header"}}
    <main>
      <section id="sign_in">
        <div class="card">
          <h1>Sign in to lsfj</h1>
          <form action="/api/auth" method="post">
            <div class="field">
              <input type="email" placeholder=" " id="email" required />
              <label for="email">Email</label>
            </div>
            <div class="field">
              <input type="password" placeholder=" " id="password" required />
              <label for="password">Password</label>
            </div>
            <div class="field forgot-pass">
              <a href="forgot_password">Forgot your password?</a>
            </div>
            <button type="submit">Sign in</button>
            <div class="field register">
              New user? <a href="register">Register here.</a>
            </div>
          </form>
        </div>
      </section>
    </main>
    {{template "footer"}}
  </body>

  <script src="/static/script.js"></script>

</html>